Asami De Almeida <stem@wraith.red> <stem@wraith.red>
Asami De Almeida <stem@wraith.red> <rathodrowa@ecs.vuw.ac.nz>
Asami De Almeida <stem@wraith.red> <rathodrowa@vuw.ac.nz>
Asami De Almeida <stem@wraith.red> <rathodrowa@myvuw.ac.nz>
Asami De Almeida <stem@wraith.red> <stem@rowanrathod.com>
Asami De Almeida <stem@wraith.red> <rowanrathod@nightwind-developments.co.nz>

Penny Peneueta <peneuepenn@ecs.vuw.ac.nz> Penny Peneueta <penny@Pennys-MacBook-Pro.local>

Ketaki Bagal <bagalketa@ecs.vuw.ac.nz> KetakiKB <38895557+KetakiKB@users.noreply.github.com>

Robert Reid <Robertreid1998@gmail.com> <reidrobe@ecs.vuw.ac.nz>
Robert Reid <Robertreid1998@gmail.com> <robertreid@Roberts-MacBook-Pro.local>
Robert Reid <Robertreid1998@gmail.com> <robertreid@roberts-mbp.lan>
Robert Reid <Robertreid1998@gmail.com> <reidrobe@myvuw.ac.nz>
Robert Reid <Robertreid1998@gmail.com> <robertreid@Roberts-MBP.fritz.box>

Dylan Sukha <cooltions@gmail.com> <sukhadyla@ecs.vuw.ac.nz>

Aaron Chen <achen@ecs.vuw.ac.nz> <aaron.chen@ecs.vuw.ac.nz>